body { 
  background: #0d1117; 
  color: #eee; 
  font-family: Arial; 
  text-align: center; 
  padding: 40px; 
}
h1 { color: #00bfff; }
textarea { 
  width: 80%; 
  height: 150px; 
  background: #111; 
  color: #0f0; 
  border: 1px solid #00bfff; 
  padding: 10px; 
}
input {
  width: 60%; 
  padding: 8px; 
  border-radius: 5px; 
  border: 1px solid #00bfff;
  margin-top: 10px;
}
button { 
  margin: 10px; 
  padding: 10px 20px; 
  border-radius: 8px; 
  border: none; 
  background: #00bfff; 
  color: white; 
  cursor: pointer; 
}
button:hover { background: #0088cc; }